footer {
    padding: 10px;
}
td:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
.table {
    margin-left: auto;
    margin-right: auto;
    height: 25rem;
    width: 25rem;
}
.vsbl {
    overflow: scroll;
    min-height: 25rem;
    max-height: 25rem;
}