{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css">
    <title>bsIO</title>

    <script>
        var ws = new WebSocket("ws://localhost:8080/ws");

        ws.onmessage = function (event) {
            var cells = JSON.parse(event.data);
            for (i in cells) {
                document.getElementById(cells[i]).style.backgroundColor = "#ffccff";
            }
        }

        function send(cell) {
            ws.send(cell);
            changeCellColor(cell);
        }

        function changeCellColor(id) {
            if (document.getElementById(id).style.backgroundColor == "") {
                document.getElementById(id).style.backgroundColor = "#337ab7";
            } else {
                document.getElementById(id).style.backgroundColor = "";
            }
        }
    </script>
</head>

<body>
    <header class="navbar navbar-expand-lg flex-row">
        <a class="navbar-brand" href="#">bsIO</a>
        <div class="navbar-text">Welcome to the BattleShip.io</div>
        <ul class="navbar-nav flex-row ml-auto d-flex">
            <li class="nav-item">
                <a class="nav-link" aria-label="GitHub" href="https://github.com/Adictes/bsIO">GitHub</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg border">
                <p class="lead"> Собственный ник </p>
                <table class="table table-bordered">
                    <tr>
                        <td id="0-0" onclick="send('0-0')"></td>
                        <td id="0-1" onclick="send('0-1')"></td>
                        <td id="0-2" onclick="send('0-2')"></td>
                        <td id="0-3" onclick="send('0-3')"></td>
                        <td id="0-4" onclick="send('0-4')"></td>
                        <td id="0-5" onclick="send('0-5')"></td>
                        <td id="0-6" onclick="send('0-6')"></td>
                        <td id="0-7" onclick="send('0-7')"></td>
                        <td id="0-8" onclick="send('0-8')"></td>
                        <td id="0-9" onclick="send('0-9')"></td>
                    </tr>
                    <tr>
                        <td id="1-0" onclick="send('1-0')"></td>
                        <td id="1-1" onclick="send('1-1')"></td>
                        <td id="1-2" onclick="send('1-2')"></td>
                        <td id="1-3" onclick="send('1-3')"></td>
                        <td id="1-4" onclick="send('1-4')"></td>
                        <td id="1-5" onclick="send('1-5')"></td>
                        <td id="1-6" onclick="send('1-6')"></td>
                        <td id="1-7" onclick="send('1-7')"></td>
                        <td id="1-8" onclick="send('1-8')"></td>
                        <td id="1-9" onclick="send('1-9')"></td>
                    </tr>
                    <tr>
                        <td id="2-0" onclick="send('2-0')"></td>
                        <td id="2-1" onclick="send('2-1')"></td>
                        <td id="2-2" onclick="send('2-2')"></td>
                        <td id="2-3" onclick="send('2-3')"></td>
                        <td id="2-4" onclick="send('2-4')"></td>
                        <td id="2-5" onclick="send('2-5')"></td>
                        <td id="2-6" onclick="send('2-6')"></td>
                        <td id="2-7" onclick="send('2-7')"></td>
                        <td id="2-8" onclick="send('2-8')"></td>
                        <td id="2-9" onclick="send('2-9')"></td>
                    </tr>
                    <tr>
                        <td id="3-0" onclick="send('3-0')"></td>
                        <td id="3-1" onclick="send('3-1')"></td>
                        <td id="3-2" onclick="send('3-2')"></td>
                        <td id="3-3" onclick="send('3-3')"></td>
                        <td id="3-4" onclick="send('3-4')"></td>
                        <td id="3-5" onclick="send('3-5')"></td>
                        <td id="3-6" onclick="send('3-6')"></td>
                        <td id="3-7" onclick="send('3-7')"></td>
                        <td id="3-8" onclick="send('3-8')"></td>
                        <td id="3-9" onclick="send('3-9')"></td>
                    </tr>
                    <tr>
                        <td id="4-0" onclick="send('4-0')"></td>
                        <td id="4-1" onclick="send('4-1')"></td>
                        <td id="4-2" onclick="send('4-2')"></td>
                        <td id="4-3" onclick="send('4-3')"></td>
                        <td id="4-4" onclick="send('4-4')"></td>
                        <td id="4-5" onclick="send('4-5')"></td>
                        <td id="4-6" onclick="send('4-6')"></td>
                        <td id="4-7" onclick="send('4-7')"></td>
                        <td id="4-8" onclick="send('4-8')"></td>
                        <td id="4-9" onclick="send('4-9')"></td>
                    </tr>
                    <tr>
                        <td id="5-0" onclick="send('5-0')"></td>
                        <td id="5-1" onclick="send('5-1')"></td>
                        <td id="5-2" onclick="send('5-2')"></td>
                        <td id="5-3" onclick="send('5-3')"></td>
                        <td id="5-4" onclick="send('5-4')"></td>
                        <td id="5-5" onclick="send('5-5')"></td>
                        <td id="5-6" onclick="send('5-6')"></td>
                        <td id="5-7" onclick="send('5-7')"></td>
                        <td id="5-8" onclick="send('5-8')"></td>
                        <td id="5-9" onclick="send('5-9')"></td>
                    </tr>
                    <tr>
                        <td id="6-0" onclick="send('6-0')"></td>
                        <td id="6-1" onclick="send('6-1')"></td>
                        <td id="6-2" onclick="send('6-2')"></td>
                        <td id="6-3" onclick="send('6-3')"></td>
                        <td id="6-4" onclick="send('6-4')"></td>
                        <td id="6-5" onclick="send('6-5')"></td>
                        <td id="6-6" onclick="send('6-6')"></td>
                        <td id="6-7" onclick="send('6-7')"></td>
                        <td id="6-8" onclick="send('6-8')"></td>
                        <td id="6-9" onclick="send('6-9')"></td>
                    </tr>
                    <tr>
                        <td id="7-0" onclick="send('7-0')"></td>
                        <td id="7-1" onclick="send('7-1')"></td>
                        <td id="7-2" onclick="send('7-2')"></td>
                        <td id="7-3" onclick="send('7-3')"></td>
                        <td id="7-4" onclick="send('7-4')"></td>
                        <td id="7-5" onclick="send('7-5')"></td>
                        <td id="7-6" onclick="send('7-6')"></td>
                        <td id="7-7" onclick="send('7-7')"></td>
                        <td id="7-8" onclick="send('7-8')"></td>
                        <td id="7-9" onclick="send('7-9')"></td>
                    </tr>
                    <tr>
                        <td id="8-0" onclick="send('8-0')"></td>
                        <td id="8-1" onclick="send('8-1')"></td>
                        <td id="8-2" onclick="send('8-2')"></td>
                        <td id="8-3" onclick="send('8-3')"></td>
                        <td id="8-4" onclick="send('8-4')"></td>
                        <td id="8-5" onclick="send('8-5')"></td>
                        <td id="8-6" onclick="send('8-6')"></td>
                        <td id="8-7" onclick="send('8-7')"></td>
                        <td id="8-8" onclick="send('8-8')"></td>
                        <td id="8-9" onclick="send('8-9')"></td>
                    </tr>
                    <tr>
                        <td id="9-0" onclick="send('9-0')"></td>
                        <td id="9-1" onclick="send('9-1')"></td>
                        <td id="9-2" onclick="send('9-2')"></td>
                        <td id="9-3" onclick="send('9-3')"></td>
                        <td id="9-4" onclick="send('9-4')"></td>
                        <td id="9-5" onclick="send('9-5')"></td>
                        <td id="9-6" onclick="send('9-6')"></td>
                        <td id="9-7" onclick="send('9-7')"></td>
                        <td id="9-8" onclick="send('9-8')"></td>
                        <td id="9-9" onclick="send('9-9')"></td>
                    </tr>
                </table>
                <p class="lead">Кол-во оставшихся для расстановки кораблей:</p>
                <div class="row">
                    <div class="col-8">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Однопалубных
                                <span class="badge badge-info badge-pill">4</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Двухпалубных
                                <span class="badge badge-info badge-pill">3</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Трехпалубных
                                <span class="badge badge-info badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Четырехпалубных
                                <span class="badge badge-info badge-pill">1</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4 align-self-center">
                        <button type="button" class="btn-lg btn-success">I'm ready</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 border">
                <p>Тут чат</p>
            </div>
            <div class="col-lg border">
                <p class="lead"> Ник соперника </p>
                <table class="table table-bordered">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer> Made by Adictes </footer>
</body>

</html>
{{ end }}