{{ define "login" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css">
</head>

<body>
    <header class="navbar navbar-expand-lg flex-row">
        <a class="navbar-brand" href="#">bsIO</a>
        <div class="navbar-text">Welcome to the BattleShip.io</div>
        <ul class="navbar-nav flex-row ml-auto d-flex">
            <li class="nav-item">
                <a class="nav-link" aria-label="GitHub" href="https://github.com/Adictes/bsIO">GitHub</a>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-4 border">
                <form name="form" action="/login" method="post" onsubmit="return checkInput(this);">
                    <div class="form-group">
                        <label>Your username</label>
                        <input class="form-control" name="username" type="text" placeholder="Username" value="{{.}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <footer> Made by Adictes </footer>
    <script>
        function checkInput(form) {
            if (form.username.value.trim() == "") {
                alert("Username is empty");
                return false;
            }
        }
    </script>
</body>

</html>
{{ end }}